# --- Framework Web ---
flask
flask-cors

# --- Data Analysis ---
pandas
numpy
scikit-learn

# --- Database ---
mysql-connector-python
firebase-admin
google-cloud-firestore
google-auth

# --- Utilidades ---
python-dotenv
